.profile__edit-button{
    width: 24px;
    height: 24px;
    margin-left: 24px;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.profile__edit-button:hover{
    opacity: 0.5;
}

@media screen and (max-width: 320px){
    .profile__edit-button{
        margin-left: 10px;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-self:baseline;
    }
}