.pop-up__image-title{
    height: 12px;
    left: 424px;
    top: 640px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}