.element__text{
    max-width: 282px;
    height: 79px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px 0 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}